& {
  display: flex;
  flex-flow: column;
}

.top {
  flex: 1 1 0;
  display: flex;
  min-height: 200px;
  overflow: hidden;
  position: relative;

  > .error { padding: 1em; }

  > .settings {
    overflow-y: auto;
    padding-bottom: 1em;
    min-width: 300px;

    section { padding: 1em 1em 0 1em; }
  }

  > .systems {
    flex: 1 1 0;
    padding: 1em;
  }

  .disabled label {
    margin: auto;
    background-color: white;
    padding: 0.75em;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
  }
}

.top header {
  font-size: 1.5em;
  margin-bottom: .5em;
}

.top table {
  border-collapse: collapse;
  width: 100%;
  font-size: 12px;

  td, th {
    border: 1px solid #ccc;
    padding: 0.5em;
  }

  th {
    text-align: left;
    vertical-align: top;
    font-weight: normal;
    background: #eee;
    white-space: nowrap;
  }

  td.no-padding {
    padding: 0;

    input[type=text], input[type=password], input[type=number] {
      border: none;
      width: 100%;
      padding: 0.5em 0.25em;
    }
  }

  .inputs { display: flex; }
  .checkbox, ol li {
    display: flex;
    align-items: center;
  }

  label + input { margin-left: 0.5em; }
  td ol { list-style: none; margin: 0; padding: 0; }

  li.password { margin-top: 0.5em; }
}

.systems {
  display: flex;
  flex-flow: column;
  .content { flex: 1 1 0; }
}

.systems .content {
  display: flex;
  flex-flow: column;

  .registry {
    flex: 1 1 0;
    display: flex;
    flex-flow: column;

    .actions {
      margin-bottom: 0.25em;
      button { margin-right: 0.25em; }
    }

    .tree-view-container {
      flex: 1 1 0;
      position: relative;
      overflow-y: auto;
      border: 1px solid #ccc;
      .tree { position: absolute; overflow-y: auto; }
      .progress {
        margin-left: auto;
        margin-right: 0.5em;
      }
      .label {
        padding-left: 0.25em;
      }
    }
  }

  .details {
    margin-top: 0.25em;
    border: 1px solid #ccc;

    .title {
      font-size: 18px;
      text-transform: uppercase;
      padding: 0.25em;
      background-color: #666;
      color: #fff;
    }

    .info {
      padding: 0.5em;
      table { width: auto; }
    }

    .actions {
      padding: 0 0.5em;
      padding-bottom: 0.5em;
      button { margin-right: 0.25em; }
    }
  }
}

.collapsable {
  display: flex;
  flex-flow: column;

  .header {
    cursor: pointer;
    background-color: #444;
    color: #fff;
    display: flex;
    align-items: center;
  }

  .header .info {
    flex: 1;
    padding: .5em;
  }
  
  .header button.toggle {
    width: 30px;
    align-self: stretch;
    background: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
    opacity: .5;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
  }
}

.server-log {
  min-height: 100px;
  height: 140px;

  .header .actions { padding-left: 0.25em;}

  textarea {
    flex: 1;
    border: none;
    resize: none;
    padding: 0.5em;
  }
}
