& {
  display: flex;
  flex-flow: column;
}

.top {
  flex: 3;
  display: flex;
}

.settings {
  flex: 1;
  display: flex;
  flex-flow: column;
  padding: 1em;
  align-items: flex-start;
  border-right: 1px solid #ccc;
}

.systems-plugins {
  flex: 1;
  display: flex;
  flex-flow: column;
  margin: auto;

  span { text-align: center; }
}

.log {
  flex: 1;
  padding: 0.5em;
}
