.top
  .links
    ul
      li <a href="http://docs.superpowers-html5.com/">Documentation</a>
      li <a href="http://itch.io/engine/superpowers/community">Community Forums</a>
      li <a href="https://patreon.com/SparklinLabs">Patreon</a>
      li <a href="https://github.com/superpowers">Open Source</a>
  .news
    ol
      li News 1
      li News 2
      li News 3

.chat
  p Chat
