& {
  display: flex;
}

.main {
  flex: 1 1 0;
  overflow-y: auto;
}

.logo {
  text-align: center;
  padding: 1em;
  background: url("images/cover.png") center bottom no-repeat;
  background-size: 540px;
  height: 320px;

  h1 {
    margin: 0;
    font-size: 4.5em;
    font-weight: bold;
    font-family: "Lato";
  }
  
  .tagline {
    font-size: 0.9em;
  }
}

.news {
  padding: 2em;
  text-align: center;
  font-size: 0.9em;

  table {
    margin: 0 auto;
    max-width: 700px;
    border-collapse: collapse;
  }
  th, td {
    vertical-align: top;
    padding: 0.5em;
    border: 1px solid #bbb;
  }
  th { text-align: right; white-space: nowrap; }
  td { width: 100%; text-align: left; }
}

.sidebar {
  background: #eee;
  padding: 1em;
  border-left: 1px solid #ddd;

  & > div {
    margin-bottom: 1em;
  }

  header {
    text-transform: uppercase;
  }

  ol, ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}
