& {
  display: flex;
  flex-flow: column;
}

.top {
  display: flex;
  border-bottom: 1px solid #ccc;
  height: 150px;

  ol, ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .links {
    padding: 1em;
  }

  .news {
    flex: 1 1 0;
    padding: 0.5em;
    background: #eee;
    overflow-y: scroll;
  }
  
  .news table { width: 100%; }
  .news th, td {
    vertical-align: top;
    padding: 0.5em;
  }
  .news th { text-align: right; white-space: nowrap; }
  .news td { width: 100%; }
}

.chat {
  flex: 1 1 0;
  display: flex;
  flex-flow: column;
  
  .panes > * {
    flex: 1 1 0;
    display: flex;
  }
 
  .channel {
    flex: 1 1 0;
    display: flex;
    flex-flow: column;

    .log {
      flex: 1 1 0;
      padding: 0.5em;
      overflow-y: scroll;
      -webkit-user-select: initial;
      -moz-user-select: initial;
      user-select: initial;
      cursor: initial;
      
      & > div { margin-bottom: 0.5em; }
    }

    .input {
      padding: 0.5em;
      display: flex;

      textarea {
        flex: 1 1 0;
        resize: none;
      }
    }
  }

  .sidebar {
    min-width: 150px;
    max-width: 300px;
    display: flex;
  }

  .users-tree-view {
    flex: 1 1 0;
    overflow-y: scroll;

    position: relative;
    > .tree { position: absolute; }
    li.item .nickname { padding: 0.25em; }
  }
}

.chat .tabs-bar .label {
  padding-left: 0.5em;
}

.chat .log > .info {
  color: #666;
}

.chat .log > .message {
  .from { font-weight: bold; }
  .from:after { content: ": "; }

  &.private { color: #664444; }
  &.notice { color: #448888; }
  &.me { color: #888888; }
}
