- function t(x) { return x; }
doctype html
html
  head
    meta(charset="utf-8")
    title Superpowers
    link(rel="stylesheet",href="index.css")
  body
    .sidebar
      .servers-buttons.flat-button-strip
        button(title=t("launcher:treeView.addServer.title"),disabled,data-hotkey="control+N").add-server
        button(title=t("launcher:treeView.editServer.title"),disabled).edit-server
        button(title=t("launcher:treeView.removeServer.title"),disabled).remove-server
        
      .servers-tree-view
      .local-server

    .main
      .tabs-bar
      .panes

    script(src="index.js")
