doctype html
html
  head
    meta(charset="utf-8")
    title Superpowers
    link(rel="stylesheet",href="index.css")
  body
    .sidebar
      .servers-buttons.flat-button-strip
        button.add-server(title=t("sidebar:treeView.addServer.title"), disabled,data-hotkey="control+N")
        button.edit-server(title=t("sidebar:treeView.editServer.title"),disabled)
        button.remove-server(title=t("sidebar:treeView.removeServer.title"),disabled)

      .servers-tree-view
      .local-server
    .resize-handle.left

    .main
      .tabs-bar
        ol.tab-strip
          li(data-name="home").active.pinned
            img.icon(src="images/tabs/home.svg")
      .panes
        .home.active(data-name="home")
          include pages/home

    .loading
      div= t("common:states.loading")

    script(src="index.js")
