@import "styles/reset";
@import "styles/treeView";
@import "styles/resizeHandle";
@import "styles/tabStrip";
@import "styles/dialogs";

body { display: flex; }

.loading {
  z-index: 5;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;

  background: #eee;
  color: #444;

  display: flex;
  align-items: center;
  justify-content: center;

  .splash {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }

  .splash img {
    max-width: 80vw;
    max-height: 80vh;
  }
  
  .status { font-size: 2em; }
  .progress { margin-top: 0.5em; }

  .version {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.5em;
  }
}


.update-available {
  z-index: 100;
  
  .info {
    padding: 0.5em;
  }

  .actions {
    padding: 0.5em;
  }
}

body > .sidebar {
  min-width: 250px;
  max-width: 480px;
  width: 250px;
  display: flex;
  flex-flow: column;
  background: #f0f0f0;
  color: #444;

  display: flex;
  flex-flow: column;
}

body > .sidebar .servers-tree-view {
  flex: 1 1 0;
  position: relative;

  > .tree { position: absolute; }

  li {
    display: block;
    height: auto;
    padding: 0.5em 1em;
    
    .label, .host {
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis;
    }
    
    .label { font-size: 1.5em; }
  }
}

.servers-buttons {
  .add-server { background-image: url(images/servers/add.svg); }
  .edit-server { background-image: url(images/servers/edit.svg); }
  .remove-server { background-image: url(images/servers/remove.svg); }
}

body > .sidebar .local-server {
  display: flex;
  align-items: center;
  padding: 0.5em;
  border-top: 1px solid #aaa;
  background: #ddd;

  button { margin-left: 0.25em; }
  .status { flex: 1 1 0; }
}

.main {
  flex: 1 1 0;
  display: flex;
  flex-flow: column;

  .tabs-bar {
    background: #eee;
    border-bottom: 1px solid #aaa;
  }

  .panes {
    flex: 1 1 0;
    display: flex;
  }
}
  
.main .panes .home {
  @import "home/index.styl";
}

.main .panes .server-settings {
  @import "serverSettings/index.styl";
}

.main .panes > * {
  flex: 1 1 0;
  border: 0;
}

.main .panes > *:not(.active) {
  display: none;
}
