doctype html
html
  head
    meta(charset="utf-8")
    title Superpowers
    link(rel="stylesheet",href="index.css")
  body
    .sidebar
      .servers-buttons.flat-button-strip
        button(title=t("sidebar:treeView.addServer.title"), disabled,data-hotkey="control+N").add-server
        button(title=t("sidebar:treeView.editServer.title"),disabled).edit-server
        button(title=t("sidebar:treeView.removeServer.title"),disabled).remove-server

      .servers-tree-view
      .local-server
    .resize-handle.left

    .main
      .tabs-bar
      .panes
        .home.active(data-name="home")
          include pages/home

    .loading
      div= t("common:states.loading")

    script(src="index.js")
