@import "styles/reset";
@import "styles/treeView";
@import "styles/resizeHandle";
@import "styles/tabStrip";
@import "styles/dialogs";

body { display: flex; }

.sidebar {
  min-width: 240px;
  max-width: 480px;
  width: 240px;
  display: flex;
  flex-flow: column;
  background: #f0f0f0;
  color: #444;

  display: flex;
  flex-flow: column;
}

.sidebar .servers-tree-view {
  flex: 1;
  position: relative;

  > .tree { position: absolute; }

  li { justify-content: space-between; }
}

.servers-buttons {
  .add-server { background-image: url(images/servers/add.svg); }
  .edit-server { background-image: url(images/servers/edit.svg); }
  .remove-server { background-image: url(images/servers/remove.svg); }
}

.main {
  flex: 1;
  display: flex;
  flex-flow: column;

  .tabs-bar {
    height: 35px;
    background: #eee;
    border-bottom: 1px solid #aaa;
  }

  .panes {
    flex: 1;
    display: flex;
  }
}

.main .panes > * {
  flex: 1;
  border: 0;
}

.main .panes > *:not(.active) {
  display: none;
}
